<a href='foobarbaz-co.com'>«Ссылка»</a> и текст рядом.
«<a href='foobarbaz-co.com'>„Ссылка в двойных кавычках“</a> и текст рядом».
«<a href='foobarbaz-co.com'>„Ссылка в лапках“</a> и текст рядом с кавычкой», — проверим и это.
Проверим и <a href='foobarbaz-co.com'>«самый простой вариант»</a> расположения ссылки.
Вариант <a href='foobarbaz-co.com'><span class='garbage'></span>«<span class='garbage'></span>с пустыми элементами внутри<span class='garbage'></span>»<span class='garbage'></span></a> ссылки.
Простые ссылки <a href='foobarbaz-co.com'>оставляем</a> в покое.
Даже если в них есть <a href='foobarbaz-co.com'>так называемые «кавычки», с которыми мы и работаем</a>.
Давайте проверим и скобочки (<a href='foobarbaz-co.com'>им тоже нужна бирманизация</a>) — красота."
